.about_container {
 background-color: rgba(0, 0, 0, 0.543);
  background-size:contain ;
  align-self: center;
  margin: auto;
  width:700px;
  height: 100%;
  border-radius: 65px;
  margin-top: 60px;
  box-shadow: 1px 1px 25px 5px rgb(22, 182, 210);
  padding: 70px 0;
}

.about__paragraph {
  color: rgb(252, 248, 248);
  font-size: 1.5rem;
  font-weight: 800;
  text-shadow: 4px 4px 4px black;
  padding-left: 70px;
  padding-right: 40px;

}

.about__H1{
  color: rgb(1, 1, 1);
  font-size: 4rem;
  font-family: 'Rock Salt', cursive;
  text-align: center;
  text-shadow: 4px 4px 4px rgb(22, 182, 210);
  margin-top: 100px;
}

 

  