.portfolio__container {
  background-image: url('https://e7.pngegg.com/pngimages/158/254/png-clipart-black-crystal-illustration-light-desktop-blue-black-cyan-black-background-purple-blue.png');
  background-size:100% 100% ;
  margin: auto;
  margin-bottom: 150px;
  width: 60%;
  height: 600px;
  border: solid black;
  border-radius: 65px;
  box-shadow: 4px 4px 4px 6px rgb(7, 7, 7);
  position: relative;
  display: inline-block;
  vertical-align: middle;
  overflow: scroll;
  z-index: 4;
}

.portfolio__H1 {
    font-size: 2rem;
    color: #070707;
    font-family: 'Rock Salt', cursive;
    text-align: center;
    text-shadow: 1px 1px 1px rgb(22, 182, 210);
    position: relative;
    margin-top: 100px;
    z-index: 4;
}

.portfolio__h2 {
    color: #070707;
    text-align: center;
    text-shadow: 1px 1px 1px rgb(22, 182, 210);
    font-size: 2rem;
    font-family: 'Rock Salt', cursive;;
    position: relative;
    margin-top: 100px;;
}

.portfolio__line-break {
 border: solid 3px black;
 box-shadow: 2px 2px 2px  rgb(22, 182, 210);
}

.portfolio__demo {
  font: bold 11px Arial;
  font-size: 0.7rem;
  font-family: 'Rock Salt', cursive;;
  text-decoration: none;
  text-shadow: 1px 1px 1px rgb(22, 182, 210);
  background-color: #090909;
  color: #fafafa;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
  border-radius: 10px;
  margin-left: 40px;
  z-index: 4;
}

.portfolio__Frontend {
  font: bold 11px Arial;
  font-size: 0.7rem;
  font-family: 'Rock Salt', cursive;;
  text-decoration: none;
  text-shadow: 1px 1px 1px rgb(22, 182, 210);
  background-color: #090909;
  color: #fafafa;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
  border-radius: 10px;
  margin-left: 20px;
  z-index: 4;
}

.portfolio__Backend {
  font: bold 11px Arial;
  font-size: 0.7rem;
  font-family: 'Rock Salt', cursive;;
  text-decoration: none;
  text-shadow: 1px 1px 1px rgb(22, 182, 210);
  background-color: #090909;
  color: #fafafa;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
  border-radius: 10px;
  margin-left: 20px;
  margin-bottom: 40px;
}

.portfolio__image {
  height: 190px;
  border-radius: 25px;
  border: solid black;
  box-shadow: 1px 1px 25px 5px rgb(22, 182, 210);
  margin-top: 40px;
  margin-bottom: 60px;
  margin-left: 15px;
}

.portfolio__pic {
  display:inline-block;
  vertical-align: middle;
}

.portfolio__buttons {
  display:inline-block;
  vertical-align: middle;
  
}