.portfolio__H1 {
  color: #070707;
  font-size: 2rem;
  font-family: 'Rock Salt', cursive;
  text-align: center;
  text-shadow: 1px 1px 1px rgb(22, 182, 210);
  margin-top: 100px;
}

.portfolio__h2 {
  color: #070707;
  font-size: 2rem;
  font-family: 'Rock Salt', cursive;;
  text-align: center;
  text-shadow: 1px 1px 1px rgb(22, 182, 210);
  margin-top: 100px;
}

.portfolio__line-break {
  border: solid 3px black;
  box-shadow: 2px 2px 2px  rgb(22, 182, 210);
}

.portfolio__demo {
  color: #fafafa;
  font: bold 11px Arial;
  font-size: 0.7rem;
  font-family: 'Rock Salt', cursive;;
  text-decoration: none;
  text-shadow: 1px 1px 1px rgb(22, 182, 210);
  background-color: #090909;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
  border-radius: 10px;
}

.portfolio__Frontend {
  color: #fafafa;
  font: bold 11px Arial;
  font-size: 0.7rem;
  font-family: 'Rock Salt', cursive;;
  text-decoration: none;
  text-shadow: 1px 1px 1px rgb(22, 182, 210);
  background-color: #090909;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
  border-radius: 10px;
  margin-left: 20px;
}

.portfolio__Backend {
  color: #fafafa;
  font: bold 11px Arial;
  font-size: 0.7rem;
  font-family: 'Rock Salt', cursive;;
  text-decoration: none;
  text-shadow: 1px 1px 1px rgb(22, 182, 210);
  background-color: #090909;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
  border-radius: 10px;
  margin-left: 20px;
  margin-bottom: 40px;
}

.portfolio__Backend:hover,
.portfolio__Frontend:hover,
.portfolio__demo:hover {
  background-color:  rgb(22, 182, 210) ;
}


.portfolio__image {
  height: 190px;
  border-radius: 25px;
  border: solid black;
  box-shadow: 1px 1px 25px 5px rgb(22, 182, 210);
  margin-top: 40px;
  margin-bottom: 120px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.portfolio__project-links {
  text-align: center;
}

@media (min-width: 37rem) {
  .portfolio__image {
    height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .portfolio__H1 {
    font-size: 3rem;
  }

  .portfolio__h2 {
    font-size: 2.5rem;
  }

  .portfolio__Backend,
  .portfolio__Frontend,
  .portfolio__demo  {
    font-size: 0.9rem;
  }
}

@media (min-width: 65rem) {
  
  .portfolio__image {
    height: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
  }

  .portfolio__H1 {
    font-size: 5rem;
    text-shadow: 2px 2px 2px rgb(22, 182, 210);
  }
   
  .portfolio__h2 {
   font-size: 4rem;
   text-shadow: 2px 2px 2px rgb(22, 182, 210);
  }
  
  .portfolio__Backend,
  .portfolio__Frontend,
  .portfolio__demo  {
    font-size: 1.2rem;
  }
}