.resume {
  position: relative;
  margin-top: 100px;
  
}

.resume__H1 {
  color: rgb(247, 247, 247);
  text-shadow: 2px 2px 2px rgb(22, 182, 210);
  font-size: 2.5rem;
  text-align: center;
}

.resume__info-and-links {
  width: 50%;
  margin:auto;
} 

.resume__personal-Info {
  color: white;
  font-weight: 800;
  font-size: 0.9rem;
  text-align: center;
}

.resume__H2 {
  color: rgb(254, 254, 254);
  text-align: center;
  text-shadow: 2px 2px 2px rgb(22, 182, 210);
  font-size: 1.4rem;
  position: relative;
  margin-top: 50px;
  padding-bottom: 1.3rem;
}

.resume__H3 {
  color: rgb(14, 14, 14);
  font-size: 2.5rem;
  text-align: center;
}

.resume__opening-paragraph {
  color: white;
  font-weight: 800;
  font-size: 1.1rem;
  padding:0 2.2rem;
  padding-bottom: 3.75rem;
}

.resume__skills {
  color: white;
  font-weight: 800;
  font-size: 1.3rem;
  text-align: center;
  padding-bottom: 3.75rem;
}
  
ul li::marker {
  color: #faf7f7;
}

.resume__Ul {
  color: white;
  font-weight: 800;
  font-size: 1rem;
  margin-bottom: 100px;
}

.resume__Ul li {
  margin-bottom: 15px;
}

.resume__project-description {
  color: white;
  font-weight: 800;
  font-size: 1.1rem;
  text-align: center;
}
  
.resume__Hr {
  position: relative;
  width: 100%;
  bottom: 30px;
  border:  2px solid black;
  background-color: #020202;
  z-index: 4;
}
  
.resume__projectTitle {
  color: #f5f2f2;
  text-shadow: 2px 2px 2px rgb(22, 182, 210);
  font-size: 2rem;
  text-align: center;
  z-index: 4;
}
  
.resume__WorkListItems {
  color: white;
  font-size: 30px;
  margin-left: opx;
  padding: 0;
  text-align: left;
}

pre {
  color: white;
  font-weight: 800;
  font-size: 1.2rem;
}

.resume__education {
  font-weight: 800;
}

.devicon-twitter-original {
  text-decoration: none;
  font-size: 2.5rem;
  color:#2686ed;
  margin-left: 30px;
 }

.devicon-linkedin-plain {
  text-decoration: none;
  font-size: 2.5rem;
  color: #0452d8;
  margin-left: 30px;
}

.devicon-github-original-wordmark {
  color: #61dafb;
  font-size: 2.8rem;
  text-decoration: none;
  margin:auto;
}

.devicon-github-original-wordmark:hover,
.devicon-linkedin-plain:hover,
.devicon-twitter-original:hover {
   color:white;
}

p {
    color: white;
}

@media (min-width: 30rem) {
  .resume__info-and-links {
    width: 25%;
    margin:auto;
   }

   .resume__H1 {
     font-size: 3.5rem;
   }

   .resume__H2 {
     font-size: 2rem;
   }

   .resume__personal-Info {
     font-size: 1.3rem;
   }

   .resume__opening-paragraph {
    font-size: 1.4rem;
    padding-left: 4rem;
   }

   .resume__skills {
    font-size: 1.7rem;
   }
  
   @media (min-width: 68rem){
    .resume__info-and-links {
      width: 12%;
      margin:auto;
    }

    .resume__H1 {
      font-size: 3.9rem;
    }
 
    .resume__H2 {
      font-size: 2.5rem;
    }
 
    .resume__personal-Info {
      font-size: 1.7rem;
    }
 
    .resume__opening-paragraph {
     font-size: 1.7rem;
     padding-left: 7rem;
    }
 
    .resume__skills {
     font-size: 2rem;
    }

    .resume__projectTitle {
      font-size: 2.7rem;
    }

    .resume__Ul {
      color: white;
      font-size: 1.5rem;
      align-self: center;
      margin: auto;
      width: 50%;
      margin-bottom: 100px;
    }

    .resume__project-description {
      font-size: 2rem;
    }

    pre {
      font-size: 1.7rem;
      text-align: center; 
    }

    .resume__education {
      font-size: 1.5rem;
      font-weight: 800;
      text-align: center;
    }
    
  }
}
