.App {
  background-color: black;
  text-align: center;
  margin:0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

#welcome{
  position: relative;
  top:135px;
  right: 400px;
  font-family: OCR A Std, monospace;
  font-size: 40px;
}

#btn{
   position: relative;
   bottom: 600px;
   left: 340px;
   padding:0.3em 1em;
   border-radius: 8px;
   color:rgb(7, 7, 7);
   background-color:#61dafb;
   font-size:1.1em;
   border:0;
   cursor:pointer;
   margin:1em;
   font-family: OCR A Std, monospace;
}


#me{
  height: 800px;
  width: auto;
  position: relative;
  bottom: 200px;
  left: 50px;

}

#name{
  font-family: 'Rock Salt', cursive;
  font-weight: 900;
   font-size: 50px;
position: relative;
  right:400px;
  top:100px;
  color: #61dafb;
}

#title{
  position: relative;
  top:100px;
  right:400px;
  font-family: OCR A Std, monospace;
}

.App-header {
  background-color: #060505;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.navbar{
  color:#61dafb;
  top:0;
  height:50px;
  text-align: left;
  width: 100%;
  padding: 12px;
  background: #27292a;
  position: fixed;
  z-index: 999;
}

.navLink{
  font-weight: 900;
  font-family: 'Rock Salt', cursive;;
  color: #61dafb;
  padding: 18px;
  text-decoration: none;
}

.active, .navlink:hover{
  background-color: #060505;
  color:#61dafb ;
}

#signature{
  font-family: 'Rock Salt', cursive;
}

.nav{
  font-size: 40px;
  margin-left: 70%;
  margin-top: -325px;
  font-family: 'Rock Salt', cursive;
}

.headers{
  color:#61dafb
}
.li1{
  margin-left: 350px;
  padding: 0;
  text-align: left;
}
ul li::marker {
  
  color: #61dafb ;
}

.resume{
  
  margin-top: 100px;
}

.hr{
  position: relative;
  bottom: 30px;
  color: #61dafb
}

.h3{
  color: #61dafb
}

.li2{
  margin-left: 240px;
  padding: 0;
  text-align: left;
}

#IpaDiv{
  margin: 0;
}

.portfolio{
  height: 400px;
  width: auto;
 
  position: relative;
  top:30px;
  left: 90px
}
#h1{
  margin-top:50px;
  color: #61dafb;
  font-family: 'Rock Salt', cursive;
}

#demo{
  font: bold 20px Arial;
  text-decoration: none;
  background-color: #27292a;
  color: #61dafb;
  padding: 20px 50px 20px 50px;
  border-radius: 25px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;

  position: relative;
  bottom: 260px;
  left: 215px;
}

#IpaP{
  position: relative;
  top: 40px;
}

#IpaH2{
  position: relative;
  top:40px;
  color: #61dafb;
  
}

#IpaFront{
  font: bold 20px Arial;
  text-decoration: none;
  background-color: #27292a;
  color: #61dafb;
  padding: 20px 50px 20px 50px;
  border-radius: 25px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
  position: relative;
  bottom: 60px;
  left: 35px
  
}

#IpaBack{
  font: bold 20px Arial;
  text-decoration: none;
  background-color: #27292a;
  color: #61dafb;
  padding: 20px 50px 20px 50px;
  border-radius: 25px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
  position: relative;
  bottom: 160px;
  right: 160px;
}

#AOh2{
  color: #61dafb;
  position: relative;
  top:60px
}
#AoPic{
  height: 400px;
  width: auto;
 
  position: relative;
  left: 100px;
  margin-top:50px
  
}

#AoP{
  position: relative;
  right:10px;
  top:60px
  
}

.devicon-twitter-original{
  position: relative;
  top: 10px;
  left: 100px;
  color:#2686ed;
}

.devicon-linkedin-plain{
  text-decoration: none;
  font-size: 40px;
  color: #0452d8;
  position: relative;
  top: 10px;
  left: 60px;
  
}

.devicon-redux-original{
  position: relative;
  bottom: 450px;
  left: 500px;
  font-size: 90px;
  color: purple;
}

.devicon-react-original{
  position: relative;
  bottom: 450px;
  right: 300px;
  font-size: 100px;
  color: #61dafb;
}

.devicon-rails-plain-wordmark{
  position: relative;
  bottom: 450px;
  right: 250px;
  font-size: 100px;
  color: red;
}

.twitter-handle{
    color: white;
    position: relative;
    bottom: 70px;
    left:800px
    
}

.devicon-javascript-plain{
  color: yellow;
  position: relative;
  bottom: 450px;
  right: 200px;
  font-size: 80px;
}

.devicon-html5-plain-wordmark{
  color:red;
  position: relative;
  bottom: 450px;
  right: 150px;
  font-size: 80px;
}

.devicon-github-original-wordmark{
  position: relative;
  color:61dafb;
  font-size: 60px;
    bottom: 158px;
    left:970px
}

.github-handle{
  position: relative;
  color:white;
  font-size: 30px;
    bottom: 221px;
    left:1040px;
    
}

.devicon-css3-plain-wordmark{
  position: relative;
  color:blue;
  bottom: 450px;
  right: 100px;
  font-size: 85px;
}

.devicon-postgresql-plain-wordmark{
  position: relative;
  color:blue;
  bottom: 320px;
  right: 675px;
  font-size: 85px;
}

.devicon-ruby-plain{
  position: relative;
  color:red;
  bottom: 320px;
  right: 600px;
  font-size: 75px;
}

.devicon-visualstudio-plain{
  position: relative;
  color:#0421f7;
  bottom: 320px;
  right: 525px;
  font-size: 75px;
}

.devicon-heroku-original-wordmark{
  position: relative;
  color:#a50ef0;
  bottom: 320px;
  right: 450px;
  font-size: 75px;
}

.devicon-apple-original{
  position: relative;
  color:#545155;
  bottom: 320px;
  right: 375px;
  font-size: 75px;
}
